*~
*.o
.deps
.libs
*.lo
*.la
*.exe
*.sql
*.cache
*.log
*.status
Makefile.in
src/c/Makefile.in
ar-lib
*.m4
m4/libtool.m4
m4/lt*.m4
config.*
configure
depcomp
compile
install-sh
ltmain.sh
missing
Makefile
src/ur/config.urp
src/c/Makefile
libtool
config.h
stamp-h1
